.App {
  text-align: center;
  width: 100%;
}
/* NavBar Component Styling */
.navbarContainer{
  background-color: rgb(2,37,64);
  padding: 6px;
  
}
.navbarContent{
  display: flex;
  
}
.logo{
  width: 100px;
  height: 100px;
  padding-left: 10%;
}

.listStyle{
  color: white;
  list-style: none;
  align-items: center;
  display: flex;
  align-items: center;
  margin-left: 70%;
}

.en {
border: 2px white;
}
.searchBtn{
  border: none;
  outline: none;
  background-color: transparent;
}

.submitBtn{
  display: flex;
}
/* Header Component Styling */
.headerContainer{
  margin:0% 4% 4% 4%;
  padding:5.5%;
  background-image: linear-gradient(to right, rgb(2,37,64, 0.8) 0%, rgb(2,37,64, 0) 100%), url('Images/221219142122-01-puss-in-boots-the-last-wish-film.jpeg');  
  background-size: cover;  
  background-color: red;
}
 
.heading{
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: white;
  font-size: 45px;
  text-align: left;
}
.sentence{
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: white;
  font-size: 35px;
  text-align: left;
}
.navbarSearchStyle{
  background-color: red;
}

/*Popular movies Component Styling*/
.popularMovies{
  text-align: left;
  margin-left: 8%;
}
.moviesContainer{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.box{
  width: 10%;
  background-color: aqua;
  flex-wrap: nowrap;
}
.content{
  padding: 10%;
  margin: 10px;
  width: 100%;
  background-color: green;
  
}
.contentImage{
  height: 100%;
  width: 100%;

}

/* Single Movie Component Styling*/


/*Footer Component Styling*/
.footerContainer{
  background-color: rgb(2,37,64);
  margin-top:5% ;
  padding: 2.5%;
}
.footerLogo{
  width: 150px;
  height: 150px;
}